* {
  font-family: "Permanent Marker", cursive;
  color: #34264f;
  background-color: #e96767;
}

.title {
  text-align: center;
  font-size: 90px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.buttons-all {
  border: #9c1e50 solid 5px;
  border-radius: 8px;
  background-color: #d13757;
  font-size: 45px;
  margin-top: 40px;
  margin-right: 25px;
}

.buttons-all:hover {
  background-color: #9c1e50;
  cursor: pointer;
  color: #1c1130;
}

#grid-container {
  display: grid;
  /* grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); */
  height: 42vw;
  width: 42vw;
}
.square {
  background: #77b19f;
  border: #34264f solid 1px;
  transition: 0s;
}

.toggle {
  background: #34264f;
  border: #34264f solid 1px;
}
